body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#ui {
  position: absolute;
  left: 5;
  top: 5;
  color: white;
  background-color: black;
  border: 1px solid blue;
  padding: 0.5rem;
  margin: 0.5rem;
  font-family: monospace;
}

#score-row,
#distance-row {
  display: flex;
}
#score,
#distance {
  margin-left: 0.25rem;
}

#health {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  appearance: none;
  background: transparent;
  pointer-events: none;
  margin-left: 0rem;
}

/* Health for Firefox */

#health::-moz-range-track {
  width: 100%;
  height: 10px;
  background: #333333;
}

#health::-moz-range-thumb {
  opacity: 0;
}

#health::-moz-range-progress {
  height: 10px;
  background: #19d11f;
}

/* Other Browsers */

#health::-webkit-slider-runnable-track {
  height: 10px;
  background: linear-gradient(
    to right,
    #19d11f var(--health, 100%),
    #333333 var(--health, 100%)
  );
}

#health::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

#intro-block,
#game-over-block {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  color: white;
  font-family: monospace;
}

#game-over-block {
  display: none;
}

#intro-column,
#game-over-column {
  text-align: center;
}

#intro-title,
#game-over-title {
  font-size: 2rem;
  margin-bottom: 1em;
  font-family: monospace;
}

#start-btn,
#replay-btn {
  background-color: black;
  border: 1px solid white;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
  color: white;
  font-family: monospace;
}

#start-btn:hover,
#replay-btn:hover {
  background-color: blue;
}

#game-over-score-row,
#game-over-distance-row {
  margin-bottom: 0.5em;
}
