body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#ui {
  position: absolute;
  left: 5;
  top: 5;
  color: white;
  background-color: black;
  border: 1px solid blue;
  padding: 0.5rem;
  margin: 0.5rem;
  font-family: monospace;
}

#score-row,
#distance-row {
  display: flex;
}
#score,
#distance {
  margin-left: 0.25rem;
}

#health {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  appearance: none;
  background: transparent;
  pointer-events: none;
  margin-left: 0rem;
}

/* Health for Firefox */

#health::-moz-range-track {
  width: 100%;
  height: 10px;
  background: #333333;
}

#health::-moz-range-thumb {
  opacity: 0;
}

#health::-moz-range-progress {
  height: 10px;
  background: #19d11f;
}

/* Other Browsers */

#health::-webkit-slider-runnable-track {
  height: 10px;
  background: linear-gradient(
    to right,
    #19d11f var(--health, 100%),
    #333333 var(--health, 100%)
  );
}

/* #health::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  background: #333333;
  margin-top: -1px;
} */

#health::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}
